label{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:large;
    font-weight:300;
}

select {
    height: 35px;
    width: 100%;
}

mat-form-field input{
    border-bottom: 1px solid grey;
}
    
    