<!--Search Bar-->

<mat-form-field appearance="standard" class="searchBar">
    <input matInput placeholder="search text with any keyword" name="search" [(ngModel)]="this.share.searchText">
</mat-form-field>

<!--Add User button-->


<button type="button" id="add-new-user" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
    (click)="showOrHide()">
    Add User
</button>

<!--User Details Table-->

<table class="table" aria-label="User details table">
    <thead class="myTable">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">User Name</th>
            <th scope="col">Mobile</th>
            <th scope="col">Date Of Birth</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of this.share.store | filter:this.share.searchText">

            <td>{{user.name}}</td>
            <td>{{user.username}}</td>
            <td>{{user.mobile}}</td>
            <td>{{user.dob | date:'dd/MM/YYYY'}}</td>
            <td>{{user.city}}</td>
            <td>{{user.state}}</td>
            <td>
                <button type="button" (click)="onEdit(user)" class="btn btn-warning" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                    Edit
                </button>&nbsp;&nbsp;
                <button type="button" (click)="delete(user)" class=" btn btn-danger">
                    Remove
                </button><br><br>
            </td>
        </tr>
    </tbody>
</table>


<!--Popup Form-->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel">
                    System User Registration Form
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="userForm" autocomplete="off">
                    <div>
                        <label for="name" class="form-label">
                            Name:
                        </label>
                        <input type="text" class="form-control" id="name" formControlName="name" minlength="3"
                            placeholder="Enter Name" pattern="[a-zA-Z]*">
                        <span class="text-danger"
                            *ngIf="userForm.controls['name'].dirty && userForm.hasError('required','name')">*
                            Name
                            is required!!
                        </span>
                        <div>
                            <span class="text-danger" *ngIf="userForm.hasError('minlength','name')">
                                *Name
                                must be more than 3 letters!!
                            </span>
                        </div>
                        <div>
                            <span class="text-danger" *ngIf="userForm.hasError('pattern','name')">
                                *Name
                                must be in letters only!!
                            </span>
                        </div>
                    </div>
                    <div>
                        <label for="username" class="form-label">
                            User Name:
                        </label>
                        <input type="text" class="form-control" id="username" formControlName="username" minlength="4"
                            placeholder="Enter User Name" pattern="([a-z].*[0-9])">
                        <span class="text-danger"
                            *ngIf="userForm.controls['username'].dirty && userForm.hasError('required','username')">*User
                            Name
                            is required!!
                        </span>
                        <span class="text-danger" *ngIf="userForm.hasError('minlength','username')">*User
                            Name
                            must be more than 4 letters!!
                        </span>
                        <div>
                            <span class="text-danger" *ngIf="userForm.hasError('pattern','username')">
                                *User name
                                must be in letters and numbers only!!
                            </span>
                        </div>
                    </div>
                    <div>
                        <label for="pwd" class="form-label">
                            Password:
                        </label>
                        <input type="password" class="form-control" id="pwd" formControlName="pwd" minlength="8"
                            pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" placeholder="Enter Password">
                        <span class="text-danger"
                            *ngIf="userForm.controls['pwd'].dirty && userForm.hasError('required','pwd')">*password
                            is required!!
                        </span>
                        <span class="text-danger" *ngIf="userForm.hasError('pattern','pwd')">
                            *password must have letter's and should have 1 digit and password also contain 8 character!
                        </span>
                    </div>
                    <div>
                        <label for="mobile" class="form-label">
                            Mobile:
                        </label>
                        <input type="text" class="form-control" id="mobile" pattern="[789][0-9]{9}"
                            formControlName="mobile" placeholder="Enter Mobile Number">
                        <span class="text-danger"
                            *ngIf="userForm.controls['mobile'].dirty && userForm.hasError('required','mobile')">*Mobile
                            number
                            is required!!
                        </span>
                        <span class="text-danger" *ngIf="userForm.controls['mobile'].errors?.pattern">*Mobile Number
                            Should be 10
                            Digit!!
                        </span>
                    </div>
                    <div>
                        <label for="dob" class="form-label">
                            Date Of Birth:
                        </label>
                        <input type="date" class="form-control" id="dob" formControlName="dob" max="{{maxDate}}">
                        <span class="text-danger"
                            *ngIf="userForm.controls['dob'].dirty && userForm.hasError('required','dob')">*
                            Date of birth
                            is required!!
                        </span>
                    </div>
                    <div>
                        <label for="city" class="form-label">
                            City:
                        </label>
                        <select formControlName="city">
                            <option disabled selected>Select city</option>
                            <option value="Salem">Salem</option>
                            <option value="Chennai">Chennai</option>
                            <option value="Virudhunagar">Virudhunagar</option>
                            <option value="Coimbatore">Coimbatore</option>
                            <option value="Madurai">Madurai</option>
                            <option value="Thirunelveli">Thirunelveli</option>
                        </select>
                        <span class="text-danger"
                            *ngIf="userForm.controls['city'].touched && userForm.hasError('required','city')">*City
                            is required
                        </span>
                    </div>
                    <div>
                        <label for="state" class="form-label">
                            State:
                        </label>
                        <select formControlName="state">
                            <option value="" disabled>Select State</option>
                            <option value="TamilNadu">TamilNadu</option>
                        </select>
                        <span class="text-danger"
                            *ngIf="userForm.controls['state'].dirty && userForm.hasError('required','state')">*State
                            is
                            required
                        </span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary" [disabled]="!userForm.valid" *ngIf="this.share.showAdd"
                    (click)="userCheck(this.userForm.value)">
                    Add
                </button>
                <button type="button" id="cancel" class="btn btn-primary" [disabled]="!userForm.valid"
                    (click)="update(this.userForm.value)" *ngIf="this.share.showUpdate">
                    Update
                </button>
            </div>
        </div>
    </div>
</div>