<!--search field-->
<mat-form-field appearance="standard" class="searchBar">
    <input matInput placeholder="search text with any keyword" [(ngModel)]="this.share.searchText">
</mat-form-field>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
    (click)="showOrHide()">
    Add Vehicle
</button><br><br>

<!--Table-->
<table class="table" aria-label="Vehicle details table">
    <thead class="myTable">
        <tr>
            <th scope="col">Vehicle Number</th>
            <th scope="col">Vehicle Type</th>
            <th scope="col">Vehicle Color</th>
            <th scope="col">Current Date</th>
            <th scope="col">Chasis No</th>
            <th scope="col">Cost</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of this.share.store | filter:this.share.searchText">

            <td>{{user.vehiclenumber}}</td>
            <td>{{user.vehicletype}}</td>
            <td>{{user.color}}</td>
            <td>{{user.registerdate | date:'dd/MM/YYYY'}}</td>
            <td>{{user.chasisno}}</td>
            <td>{{user.cost}}</td>
            <td>
                <button type="button" (click)="onEdit(user)" class="btn btn-warning" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                    Edit
                </button>&nbsp;&nbsp;
                <button type="button" (click)="delete(user)" class=" btn btn-danger">
                    Remove
                </button><br><br>
            </td>
        </tr>
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel">Vehicle Registration Form</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="vehicleForm" autocomplete="off">
                    <div>
                        <label for="vehiclenumber" class="form-label">
                            Vehicle Number:
                        </label>
                        <input type="text" class="form-control" id="vehiclenumber" formControlName="vehiclenumber"
                            placeholder="Enter Vehicle Number"
                            pattern="[T][N][0-9][0-9][A-Z][A-Z][0-9][0-9][0-9][0-9][0-9]*" maxlength="10">
                        <span class="text-danger"
                            *ngIf="vehicleForm.controls['vehiclenumber'].dirty && vehicleForm.hasError('required','vehiclenumber')">*Vehicle
                            number
                            is required!!
                        </span>
                        <div>
                            <span class="text-danger" *ngIf="vehicleForm.hasError('pattern','vehiclenumber')">*Vehicle
                                number must start with 'TN' and format is 'TN76JJ5676'!!
                            </span>
                        </div>
                    </div>
                    <div>
                        <label for="vehicletype" class="form-label">
                            Vehicle Type:
                        </label>
                        <input type="text" class="form-control" id="vehicletype" formControlName="vehicletype"
                            placeholder="Enter Vehicle Type" minlength="3" pattern="[a-zA-Z]*">
                        <span class="text-danger"
                            *ngIf="vehicleForm.controls['vehicletype'].dirty && vehicleForm.hasError('required','vehicletype')">*Vehicle
                            type
                            is required!!
                        </span>
                        <div>
                            <span class="text-danger" *ngIf="vehicleForm.hasError('minlength','vehicletype')">*Vehicle
                                type must have atleast 3 characters!!
                            </span>
                        </div>
                        <div>
                            <span class="text-danger" *ngIf="vehicleForm.hasError('pattern','vehicletype')">
                                *Vehicle type
                                must be in letters only!!
                            </span>
                        </div>
                    </div>
                    <div>
                        <label for="color" class="form-label">
                            Color:
                        </label>
                        <input type="text" class="form-control" id="color" formControlName="color"
                            placeholder="Enter Color" minlength="3" pattern="[a-zA-Z]*">
                        <span class="text-danger"
                            *ngIf="vehicleForm.controls['color'].dirty && vehicleForm.hasError('required','color')">*Color
                            is required!!
                        </span>
                        <div>
                            <span class="text-danger" *ngIf="vehicleForm.hasError('minlength','color')">*Color
                                must be more than 3 letters!!
                            </span>
                        </div>
                        <div>
                            <span class="text-danger" *ngIf="vehicleForm.hasError('pattern','color')">
                                *Color
                                must be in letters only!!
                            </span>
                        </div>
                    </div>
                    <div>
                        <label for="registerdate" class="form-label">
                            Current Date:
                        </label>
                        <input type="date" class="form-control" id="registerdate" formControlName="registerdate"
                            min="{{minDate}}" max="{{maxDate}}">
                        <span class="text-danger"
                            *ngIf="vehicleForm.controls['registerdate'].dirty && vehicleForm.hasError('required','registerdate')">*Registration
                            date
                            is required!!
                        </span>
                    </div>
                    <div>
                        <label for="chasisno" class="form-label">
                            Chasis Number:
                        </label>
                        <input type="text" class="form-control" id="chasisno" formControlName="chasisno"
                            placeholder="Enter Chasis Number" pattern="[a-zA-Z0-9]*">
                        <span class="text-danger"
                            *ngIf="vehicleForm.controls['chasisno'].dirty && vehicleForm.hasError('required','chasisno')">*Chasis
                            number
                            is required!!
                        </span>
                        <div>
                            <span class="text-danger" *ngIf="vehicleForm.hasError('pattern','chasisno')">
                                *Chasis number
                                must be in letters only!!
                            </span>
                        </div>
                    </div>
                    <div>
                        <label for="cost" class="form-label">
                            Total Cost(in price):
                        </label>
                        <input type="number" class="form-control" id="cost" formControlName="cost"
                            placeholder="Enter Vehicle Cost" pattern="[0-9]{9}*"
                            (keydown)=this.share.RestrictMinus($event)>
                        <span class="text-danger"
                            *ngIf="vehicleForm.controls['cost'].dirty && vehicleForm.hasError('required','cost')">*Cost
                            is required!!
                        </span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary" [disabled]="!vehicleForm.valid" *ngIf="this.share.showAdd"
                    (click)="vehicleCheck(this.vehicleForm.value)">
                    Add
                </button>
                <button type="button" id="cancel" class="btn btn-primary" [disabled]="!vehicleForm.valid"
                    (click)="update(this.vehicleForm.value)" *ngIf="this.share.showUpdate">
                    Update
                </button>
            </div>
        </div>
    </div>
</div>