<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="logo">
            <em style="font-size: 40px;margin-left: 20px;" class="fas fa-shipping-fast">
            </em>
            <h1 class="vms-heading">Vehicle Management</h1>
        </div>
        <div>
            <ul class="d-flex">
                <li class="nav-list">
                    <a routerLink="/menu/home" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">Home</a>
                </li>
                <li class="nav-list">
                    <a routerLink="/menu/aboutus" routerLinkActive="active">About</a>
                </li>
                <li class="dropdown">
                    <a class="admin" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Administration
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item " routerLink="/menu/account">
                            My Account
                        </a>
                        <a class="dropdown-item " routerLink="/menu/adduser">
                            Add New System User
                        </a>
                        <a class="dropdown-item" routerLink="/menu/adddriver">
                            Add New Driver
                        </a>
                        <a class="dropdown-item" routerLink="/menu/addvehicle">
                            Add New Vehicle
                        </a>
                        <a class="dropdown-item" routerLink="/menu/addtrip">
                            Add New Trip
                        </a>
                        <a class="dropdown-item" routerLink="/menu/addfuel">
                            Add Fuel
                        </a>
                        <a class="dropdown-item" routerLink="/menu/addmaintain">
                            Add Maintanence
                        </a>
                        <a class="dropdown-item" routerLink="/menu/addinsurance">
                            Add Insurance
                        </a>
                        <a class="dropdown-item" routerLink="/menu/dash_board">
                            Dashboard
                        </a>
                    </div>
                </li>
                <li class="nav-list">
                    <a routerLink="/menu/contactus" style="margin-left: 85px;" routerLinkActive="active">Contact
                        Us
                    </a>
                </li>
                <li class="nav-list">
                    <a routerLink="/login" (click)='logout()'>Logout
                    </a>
                </li>
            </ul>
        </div>


    </div>
</nav>
<div>
    <router-outlet></router-outlet>
</div>