.nav-list, a{
    color:white;
    cursor: pointer;
    font-weight: bold;
    list-style: none;
    margin-left: 40px;
    text-decoration: none;
}
.nav-list1{
    list-style: none;
}
.vms-heading{
    margin-left: 30px;
}
.fas,.vms-heading,.admin{
    color: white;
}
.dropdown div a{
    cursor: pointer;
    font-weight: bold;
    margin-left: 30px;
    text-decoration: none!important;
    list-style: none;
}
.dropdown-item{
    border-bottom: 1px solid black;
    margin-right: 100px;
}

.dropdown-menu a:hover{
    color: black;
    border-top-left-radius:20px;
    background-color: white;
}
.dropdown{
    margin: 0px 90px 0px 40px;
    width: 50px;
}
.container-fluid{
    color: black;
}
.navbar{
    background-color: white;
    position: sticky;
    top:0;
}
.dropdown-menu{
    background-color: black;
    overflow-x: hidden;
    width: 230px;
}
li a:hover,.admin:hover{
    border-bottom: 3px solid white;
    color: white;
}
li{
    list-style: none;
}
.active{
    color:rgb(41, 192, 41);
}
ul{
    display: inline-flex;
}
.logo{
    display: flex;
}
.logo em{
    font-size: 40px;
    margin-left: 20px;
}